body {
    background-image: url(../images/backgroudweb2.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


/* Navbar */
.navtext {
    font-size: 22px;
    font-weight: bold;
    font-family: Cooper Black;
    color: white;
}


.hedingtext {
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}

.buton {
    margin-left: 50px;
}

/* body */

.Contactdetails {
    color: white;
    font-family: initial;
    margin-top: 10px;
}

.Contactdetails1 {
    color: white;
    font-family: initial;
    margin-top: 18px;
}

.contactimage {
    margin-left: 20px;
}

hr {
    color: white;
    border-width: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content1 {
    color: white;
    text-align: center;
    /* font-family: Blackadder ITC; */
    font-family: Tw Cen MT Condensed Extra Bold;
}

.social {
    color: white;
    text-align: center;
    margin-top: 3px;
}

.image {
    margin-left: 10px;
}


/* footer */

.vertical {
    margin-left: 50%;
}

.fontcolors {
    font-weight: bold;
}

.fontcolor {
    color: white;
    text-align: center;
}
.link{
    color: white;
}